<ion-header>
  <ion-toolbar>
    <ion-title>
      Itens
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-content padding>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>MobStok</ion-card-subtitle>
        <ion-card-title>Itens</ion-card-title>
      </ion-card-header>
    </ion-card>
    <!-- List of Text Items -->
    <ion-list>
      <ion-item>
        <ion-label>Elevador de pH 1Kg</ion-label>
        <ion-checkbox slot="start"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Cloro Aditivado</ion-label>
        <ion-checkbox slot="start"></ion-checkbox>
      </ion-item>
    </ion-list>

  </ion-content>